<!DOCTYPE html>
<html>

<head>
  <title> News </title>
  <link rel="stylesheet" type="text/css" href="../CSS/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="../images/logo.png" style="width: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">News</a>
        <a class="nav-item nav-link" href="/volunteer">Volunteer</a>
        <a class="nav-item nav-link" href="/donate">Donate</a>
        <a class="nav-item nav-link" href="/aboutus">About Us</a>

      </div>
    </div>
  </nav>

  <div class="text-center" id="news-title">
    <h1>Good News</h1>
  </div>
  <div class="container-fluid">
    <div class="row text-center justify-content-center">
      <% if (articles) { %>
        <a href="<%=articles[0].url%>" id=newLink>
      <div class="col-lg-4">

        <!-- Card -->
        <div class="card promoting-card">

          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Content -->
            <div>

              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2" style="color: black;"> <%=articles[0].title%></h4>
              <!-- Subtitle -->
              <p class="card-text"><i class="far fa-clock pr-2"></i><%=articles[0].author%></p>

            </div>

          </div>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top rounded-0" src="<%=articles[0].urlToImage%>" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <%=articles[0].description%>

          </div>

          <div class="card-footer">
            <%=articles[0].publishedAt.toString().substring(0,10)%>
          </div>

        </div>
      </div>
      </a>
      <!-- Card -->
      <% } %>
    </div>
  </div>

  <footer class="page-footer font-small blue bottom" style="margin-top: 708px; background-color: #444c4f !important;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> RateMyArt.com</a>
    </div>
  </footer>

</body>

</html>